.fileManagerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.foldersContainer {
  height: 100%;
  width: 100%;
  min-height: 200px;
  max-height: 80%;
}

.container {
  width: auto;
  height: calc(1.5rem + 2.5vh);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  border-radius: 5px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 5px 10px 0px #000;
  cursor: context-menu;
  margin: 10px;
  margin-left: 30px;
  cursor: pointer;
  white-space: nowrap;
}

.currentFolder {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(21, 165, 34, 1);
}

.folder {
  display: flex;
  flex-direction: column;
  height: 0;
  width: 100px;
  min-height: 0;
  opacity: 0;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 30px;
  z-index: 1;
  transform: scaleY(0.2);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
}

.folderActive {
  height: auto;
  opacity: 1;
  transform: scaleY(1);
}

.fileContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 125px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fileContainerLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  margin-left: 20px;
}

.fileText {
  font-size: calc(0.6rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
  padding: 10px 10px 10px 10px;
  display: block;
  width: 74%;
  height: calc(1.5rem + 2.5vh);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(21, 165, 34, 1);
  background: #3b555d;
  color: white;
  margin-left: 20px;
  overflow: hidden;
}

.fileImgContainer {
  position: fixed;
  top: 111px;
  right: 60px;
  height: 80px;
}

.fileSoundContainer {
  position: fixed;
  top: 111px;
  width: 350px;
  right: 70px;
  height: 50px;
}
