.modalHistory {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modalHistoryContent {
  background: #3b555d;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(21, 165, 34, 1);
  min-width: 60%;
  max-width: 60%;
  height: auto;
  min-height: 10px;
  opacity: 1;
  font-size: calc(0.4rem + 1.2vh);
  padding: 20px;
  font-family: 'Mochiy Pop P one', sans-serif;
  color: white;
  max-height: 80%;
  /* pointer-events: none; */
  transform: scale(0.5);
  transition: 0.4s all;
}

.modalHistory.active {
  opacity: 1;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalHistoryContent.active {
  transform: scale(1);
  height: 80%;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
}

.line {
  width: 100%;
  height: 1px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(21, 165, 34, 1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.status {
  height: auto;
  padding: 5px;
  padding-left: 20px;
  white-space: pre-wrap;
}
