.group {
  padding: 0px 30px;
  color: white;
  font-size: calc(0.5rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.textarea {
  font-size: calc(0.3rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  display: block;
  width: 100%;
  height: calc(4rem + 2.5vh);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(21, 165, 34, 1);
  background: #3b555d;
  color: white;
  overflow: auto;
  overflow-x: hidden;
}

.textarea:focus {
  border-width: 2px;
  height: calc(4rem + 2.5vh);
  outline: none;
}

::-webkit-textarea-placeholder {
  color: #c0392b;
  font-size: calc(0.3rem + 1.2vh);
  text-overflow: ellipsis;
}
::-moz-placeholder {
  color: #c0392b;
  font-size: calc(0.3rem + 1.2vh);
  text-overflow: ellipsis;
} /* Firefox 19+ */
:-moz-placeholder {
  color: #c0392b;
  font-size: calc(0.3rem + 1.2vh);
  text-overflow: ellipsis;
} /* Firefox 18- */
:-ms-textarea-placeholder {
  color: #c0392b;
  font-size: calc(0.3rem + 1.2vh);
  text-overflow: ellipsis;
}

.textarea::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.textarea::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}

.textarea::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}
