.imgContainer {
  width: 70px;
  height: 50px;
  box-shadow: 5px 5px 10px 0px #000;
  margin-top: 0px;
  margin-right: 30px;
}

.soundContainer {
  width: 20%;
  height: 100%;
  box-shadow: 5px 5px 10px 0px #000;
  margin-top: 0px;
  margin-right: 30px;
}

@media only screen and (min-height: 640px) {
  .imgContainer {
    width: 90px;
    height: 70px;
    margin-top: -10px;
  }
}

@media only screen and (min-height: 768px) {
  .imgContainer {
    width: 100px;
    height: 80px;
    margin-top: -10px;
  }
}
