.button {
  width: 130px;
  height: calc(1rem + 2.5vh);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(21, 165, 34, 1);
  background: #3b555d;
  color: white;
  cursor: pointer;
  font-size: calc(0.3rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
}

.opacity {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.active {
  opacity: 1;
}

.button:hover {
  border-color: rgb(10, 238, 29);
}
