.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modalContent {
  background: #3b555d;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(21, 165, 34, 1);
  min-width: 300px;
  max-width: 400px;
  height: auto;
  min-height: 10px;
  opacity: 1;
  /* pointer-events: none; */
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent.active {
  transform: scale(1);
}
