.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.loader {
  margin: 200px auto;
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  opacity: 1;
  pointer-events: none;
  transform: scale(0.5);
  transition: 0.4s all;
}

.loading.active {
  opacity: 1;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.active {
  transform: scale(1);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
