* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.start {
  background: linear-gradient(#3b555d, #233237, #204d48, #233237, #3b555d);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif {
  width: 500px;
  height: 500px;
}
