.general {
  background: linear-gradient(#3b555d, #233237, #204d48, #233237, #3b555d);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 17px;
  padding-right: 0px;
  min-width: 750px;
}

.generalInfo {
  background: linear-gradient(#3b555d, #233237, #204d48, #233237, #3b555d);
  width: 100%;
  min-width: 750px;
  padding-top: 20px;
  padding-left: 20px;
}

.scrollbarInfo {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.workPanel {
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.panels {
  width: 100%;
  min-height: 60px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 30px rgb(0 0 0);
  margin-top: 5px;
  padding: 5px 0px;
}

.panelsTextArea {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 30px rgb(0 0 0);
  margin-top: 5px;
  padding: 5px 0px;
}

.panelsSound {
  width: 100%;
  min-height: 100px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 30px rgb(0 0 0);
  margin-top: 5px;
  padding: 5px 0px;
}

.panelsMessagesContainer {
  width: 100%;
  min-height: 200px;
  height: auto;
  color: white;
  box-shadow: 0 0 30px rgb(0 0 0);
  margin-top: 20px;
  padding: 10px;
}

.panelsMessages {
  width: 100%;
  min-height: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: calc(0.4rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
  color: white;
  /* margin-top: 25px;
  padding: 10px; */
}

.panelsUpload {
  width: 100%;
  min-height: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 0 30px rgb(0 0 0);
  padding: 20px 30px;
  font-size: calc(0.4rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
  color: white;
  margin-top: 20px;
}

.imgContainer {
  width: 70px;
  height: 50px;
  box-shadow: 5px 5px 10px 0px #000;
  margin-top: 0px;
  margin-right: 50px;
}

img {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  font-size: calc(0.35rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
  color: white;
  z-index: 1;
}

.fileText {
  font-size: calc(0.6rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
  padding: 10px 10px 10px 10px;
  display: block;
  width: 74%;
  height: calc(1.5rem + 2.5vh);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(21, 165, 34, 1);
  background: #3b555d;
  color: white;
  margin-left: 20px;
  overflow: hidden;
}

.sort {
  width: 100%;
  height: calc(1.5rem + 2.5vh);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: calc(0.6rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
  color: white;
  padding: 0px 10px;
}

.line {
  width: 100%;
  height: 1px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(21, 165, 34, 1);
  margin-top: 20px;
}

.buttonsPanel {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 30px;
}

.buttonsPanelUpload {
  justify-content: flex-end;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  font-size: calc(0.3rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
}

.buttonImg {
  filter: invert(1);
}

.messagesTitle {
  height: auto;
  font-size: calc(0.7rem + 1.2vh);
}

@media only screen and (min-height: 490px) {
  .panels {
    padding: 5px 0px;
    min-height: 65px;
    margin-top: 8px;
  }
  .panelsSound {
    padding: 5px 0px;
    min-height: 110px;
    margin-top: 8px;
  }
  .panelsTextArea {
    padding: 5px 0px;
    margin-top: 8px;
  }
  .panelsMessages {
    padding: 10px;
  }
  .workPanel {
    padding: 5px 15px;
    padding-left: 20px;
  }
}

@media only screen and (min-height: 572px) {
  .panels {
    padding: 5px 0px;
    min-height: 80px;
    margin-top: 10px;
  }
  .panelsSound {
    padding: 5px 0px;
    min-height: 120px;
    margin-top: 10px;
  }
  .panelsTextArea {
    padding: 5px 0px;
    margin-top: 10px;
  }
  .panelsMessages {
    padding: 10px;
  }

  .workPanel {
    padding: 5px 15px;
    padding-left: 20px;
  }
}

@media only screen and (min-height: 640px) {
  .panels {
    padding: 15px 0px;
    min-height: 90px;
    margin-top: 10px;
  }
  .panelsSound {
    padding: 15px 0px;
    min-height: 130px;
    margin-top: 10px;
  }
  .panelsTextArea {
    padding: 15px 0px;
    margin-top: 10px;
  }
  .panelsMessages {
    padding: 15px;
  }

  .workPanel {
    padding: 5px 30px;
    padding-left: 40px;
  }
  .imgContainer {
    width: 90px;
    height: 70px;
    margin-top: -10px;
  }
}

@media only screen and (min-height: 768px) {
  .panels {
    padding: 15px 0px;
    min-height: 120px;
    margin-top: 15px;
  }
  .panelsSound {
    padding: 20px 0px;
    min-height: 140px;
    margin-top: 15px;
  }
  .panelsTextArea {
    padding: 15px 0px;
    margin-top: 15px;
  }
  .panelsMessages {
    padding: 15px;
  }
  .imgContainer {
    width: 100px;
    height: 80px;
    margin-top: -10px;
  }
}

@media only screen and (min-height: 820px) {
  .panels {
    padding: 15px 0px;
    min-height: 110px;
    margin-top: 20px;
  }
  .panelsSound {
    padding: 20px 0px;
    min-height: 140px;
    margin-top: 20px;
  }
  .panelsTextArea {
    padding: 15px 0px;
    margin-top: 20px;
  }
  .panelsMessages {
    padding: 20px;
  }
}

@media only screen and (min-height: 960px) {
  .panels {
    padding: 25px 0px;
    min-height: 130px;
  }
  .panelsSound {
    padding: 25px 0px;
    min-height: 140px;
  }
  .panelsTextArea {
    padding: 20px 0px;
  }
  .workPanel {
    padding: 5px 22px;
    padding-left: 30px;
  }
  .panelsMessages {
    padding: 25px;
  }
}
