.group {
  padding: 0px 30px;
  color: white;
  font-size: calc(0.5rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.input {
  font-size: calc(0.3rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  display: block;
  width: 100%;
  height: calc(1rem + 2.5vh);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(21, 165, 34, 1);
  background: #3b555d;
  color: white;
}

.input:focus {
  border-width: 2px;
  height: calc(1rem + 2.5vh);
  outline: none;
}

::-webkit-input-placeholder {
  color: #c0392b;
  font-size: calc(0.3rem + 1.2vh);
  text-overflow: ellipsis;
}
::-moz-placeholder {
  color: #c0392b;
  font-size: calc(0.3rem + 1.2vh);
  text-overflow: ellipsis;
} /* Firefox 19+ */
:-moz-placeholder {
  color: #c0392b;
  font-size: calc(0.3rem + 1.2vh);
  text-overflow: ellipsis;
} /* Firefox 18- */
:-ms-input-placeholder {
  color: #c0392b;
  font-size: calc(0.3rem + 1.2vh);
  text-overflow: ellipsis;
}
