.workPanel {
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.panels,
.panels2 {
  width: 100%;
  min-height: 150px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 30px rgb(0 0 0);
  margin-top: 5px;
  padding: 5px 0px;
}

.panels2 {
  min-height: 220px;
}

.general {
  width: 100%;
  /* max-height: 10000px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: calc(0.3rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
  height: 'auto';
  color: #fff;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.appGeneral {
  width: 70%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: calc(0.3rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
  color: #fff;
  padding: 15px 20px;
  margin: 30px;
  margin-left: 45px;
  margin-top: 10px;
  box-shadow: 0 0 30px rgb(0 0 0);
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.personalGeneral {
  width: 100%;
  max-height: 500px;
  height: 'auto';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: calc(0.3rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
  color: #fff;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.activeGeneral {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
}

.appActiveGeneral {
  max-height: 0px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-left: 45px;
  opacity: 0;
}

.buttonsPanel {
  width: 55%;
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.button {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.soundsContainer {
  display: flex;
  width: 100%;
  padding-bottom: 7px;
}

@media only screen and (min-height: 490px) {
  .panels {
    padding: 5px 0px;
    min-height: 155px;
    margin-top: 8px;
  }
  .panels2 {
    padding: 5px 0px;
    min-height: 225px;
    margin-top: 8px;
  }
  .workPanel {
    padding: 5px 15px;
    padding-left: 20px;
  }
}

@media only screen and (min-height: 572px) {
  .panels {
    padding: 5px 0px;
    min-height: 170px;
    margin-top: 10px;
  }
  .panels2 {
    padding: 5px 0px;
    min-height: 240px;
    margin-top: 10px;
  }
  .workPanel {
    padding: 5px 15px;
    padding-left: 20px;
  }
}

@media only screen and (min-height: 640px) {
  .panels {
    padding: 15px 0px;
    min-height: 180px;
    margin-top: 10px;
  }
  .panels2 {
    padding: 15px 0px;
    min-height: 250px;
    margin-top: 10px;
  }
  .workPanel {
    padding: 5px 30px;
    padding-left: 40px;
  }
}

@media only screen and (min-height: 768px) {
  .panels {
    padding: 20px 0px;
    min-height: 200px;
    margin-top: 15px;
  }
  .panels2 {
    padding: 20px 0px;
    min-height: 270px;
    margin-top: 15px;
  }
}

@media only screen and (min-height: 820px) {
  .panels {
    padding: 20px 0px;
    min-height: 200px;
    margin-top: 20px;
  }
  .panels2 {
    padding: 20px 0px;
    min-height: 270px;
    margin-top: 20px;
  }
}

@media only screen and (min-height: 960px) {
  .panels {
    padding: 25px 0px;
    min-height: 220px;
  }
  .panels2 {
    padding: 25px 0px;
    min-height: 290px;
  }
}
