.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
  /* width: calc(0.5rem + 1.5vh);
  height: calc(0.5rem + 1.5vh); */
}

.checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  color: white;
  font-size: calc(0.3rem + 1.2vh);
  font-family: 'Mochiy Pop P one', sans-serif;
}

.checkbox + label::before {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(0.5rem + 1.5vh);
  height: calc(0.5rem + 1.5vh);
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.35em;
  margin-right: 1rem;
  margin-left: 30px;
}

.checkbox:checked + label::before {
  border-color: rgba(21, 165, 34, 1);
  background-color: rgba(21, 165, 34, 1);
  content: '\2714';
  color: white;
  font-size: calc(0.7rem + 1.2vh);
}

/* стили при наведении курсора на checkbox */
.checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: rgba(21, 165, 34, 1);
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.checkbox:not(:disabled):active + label::before {
  background-color: rgba(0, 123, 255, 1);
  border-color: rgba(21, 165, 34, 1);
}
/* стили для чекбокса, находящегося в фокусе */
.checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(21, 165, 34, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkbox:focus:not(:checked) + label::before {
  border-color: rgba(21, 165, 34, 1);
}
/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox:disabled + label::before {
  background-color: rgba(21, 165, 34, 1);
}
