.labelSection,
.labelSection2 {
  padding: 10px;
  padding-left: 30px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(21, 165, 34, 0.3);
}

.iconContainer {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  filter: invert(1);
  cursor: pointer;
  transform: rotate(0deg);
  -webkit-animation: rotatingDown 0.5s linear;
  -moz-animation: rotatingDown 0.5s linear;
  -ms-animation: rotatingDown 0.5s linear;
  -o-animation: rotatingDown 0.5s linear;
  animation: rotatingDown 0.5s linear;
}

.icon {
  width: 30px;
  height: 30px;
}

.left {
  transform: rotate(90deg);
  -webkit-animation: rotatingLeft 0.5s linear;
  -moz-animation: rotatingLeft 0.5s linear;
  -ms-animation: rotatingLeft 0.5s linear;
  -o-animation: rotatingLeft 0.5s linear;
  animation: rotatingLeft 0.5s linear;
}

@-webkit-keyframes rotatingLeft {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rotatingLeft {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@-webkit-keyframes rotatingDown {
  from {
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotatingDown {
  from {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
